NODE_ENV

APP_PORT

DATABASE_HOST
DATABASE_NAME
DATABASE_PASSWORD
DATABASE_PORT
DATABASE_USERNAME

HEALTH_DISK_THRESHOLD_PERCENT
HEALTH_MEMORY_HEAP_THRESHOLD_MB
HEALTH_MEMORY_RSS_THRESHOLD_MB

LOGGER_LEVEL
